.header {
    height: 10vw;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    background-image: linear-gradient( hsla(214, 83%, 53%, 0.82) , white);
}

.h2 {
    text-transform: capitalize;
    text-align: center;
    color: rgba(1, 0, 46, 1);
    padding-top: 2vw;
    font-size: 1.8vw;
}


